.chatWindowHeader {
  background-color: rgb(144, 144, 254);
  height: 6.4rem;
  border-bottom: 2px solid rgb(82, 82, 82);
}

.avatar {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 1.2rem;
  border-radius: 4px;
}

.userInfo {
  margin-left: 2.4rem;
  height: 6.4rem;
  display: flex;
  align-items: center;
}

.userName {
  color: #ffff;
  font-size: 1.6rem;
}